<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Money Owned: {{totalOwned}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <app-doughnut-chart
              [setData]="walletsNotInDebt"
              [id]="'owned'"
            ></app-doughnut-chart>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Money Owed: {{totalOwed * -1}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <app-doughnut-chart
              [setData]="walletsInDebt"
              [id]="'owed'"
            ></app-doughnut-chart>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-item lines="none">
              <ion-card-title>Configure Wallets</ion-card-title>
              <ion-button slot="end" id="open-popover">
                <ion-icon ios="add-outline" md="add-sharp"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item *ngFor="let wallet of wallets">
                <ion-item-sliding>
                  <ion-item>
                    <ion-label> {{wallet.name}} </ion-label>
                    <ion-label> {{wallet.amount}} </ion-label>
                  </ion-item>

                  <ion-item-options side="end">
                    <ion-item-option>
                      <ion-icon
                        ios="create-outline"
                        md="create-sharp"
                      ></ion-icon>
                    </ion-item-option>
                    <ion-item-option color="danger">
                      <ion-icon ios="trash-outline" md="trash-sharp"></ion-icon>
                    </ion-item-option>
                  </ion-item-options>
                </ion-item-sliding>
              </ion-item>
            </ion-list>
            <app-paging
              [size]="pageSize"
              [itemsAmount]="totalItems"
              (curPage)="pageChanged($event)"
            ></app-paging>
          </ion-card-content>
        </ion-card>
        <ion-popover
          id="popover"
          trigger="open-popover"
          (willDismiss)="onWillDismissAddWallet($event)"
          (willPresent)="onWillPresentAddWallet()"
        >
          <ng-template>
            <ion-content>
              <form [formGroup]="addWalletForm" class="px-2">
                <br />
                <ion-input
                  id="name"
                  labelPlacement="floating"
                  label="Name"
                  formControlName="name"
                  placeholder="Enter The Wallet's Name"
                  type="text"
                  fill="outline"
                  [clearInput]="true"
                >
                </ion-input>
                <br />
                <ion-input
                  id="amount"
                  labelPlacement="floating"
                  label="Amount"
                  formControlName="amount"
                  placeholder="Enter The Wallet's Value"
                  type="number"
                  [clearInput]="true"
                  fill="outline"
                >
                </ion-input>
                <br />
                <ion-input
                  id="description"
                  labelPlacement="floating"
                  label="Description"
                  formControlName="description"
                  placeholder="Enter The Wallet's Description"
                  type="text"
                  fill="outline"
                  [clearInput]="true"
                >
                </ion-input>
                <br />
                <ion-button
                  (click)="addWallet()"
                  class="d-flex justify-content-center pb-2"
                >
                  Add
                </ion-button>
              </form>
              <!-- <ion-item>
                <ion-input
                  label="Enter your name"
                  labelPlacement="stacked"
                  type="text"
                  placeholder="Your name"
                  [(ngModel)]="name"
                ></ion-input>
              </ion-item> -->
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-alert
    [isOpen]="isAlertOpen"
    header="Alert"
    message="{{alertErrorMessage}}"
    [buttons]="alertButtons"
    (didDismiss)="setAlertOpen(false)"
  ></ion-alert>
</ion-content>
