<ion-content>
  <div class="d-flex justify-content-center vertical-center">
    <ion-card>
      <ion-card-header class="d-flex justify-content-center">
        <ion-img id="logo"></ion-img>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="login">
          <ion-input
            id="username"
            label="Username"
            labelPlacement="floating"
            formControlName="username"
            placeholder="Enter Username"
            fill="outline"
          >
          </ion-input>
          <br />
          <ion-input
            id="password"
            label="Password"
            labelPlacement="floating"
            formControlName="password"
            placeholder="Enter Password"
            type="password"
            fill="outline"
          >
          </ion-input>
          <br />
          <ion-button (click)="Login()" class="d-flex justify-content-center">
            Login
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
